.menu{
    margin: 0;
    padding: 5px;
    position: sticky;
    background-color: #eeeeee;
    top: 0;
    transition: 0.5s;
    button{
        margin: 5px;
    }
}

.hide{
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
}
