.header{
    text-align: left;
    display: flex;
    border-bottom: 0.1px solid #ddddff;
    background-color: #cceeff;
}

.blog{
    animation: change alternate infinite 2s;
}

@keyframes change{
    0% {fill: #eeeeeeee}
    100% {fill: #444;}
}